.toast {
  will-change: transform;

  overflow: hidden;
  display: flex;
  align-items: center;

  padding: 0.7em 1em;

  color: #f3f4f6;

  background: #1f2937;
  border-radius: 0.5em;
  box-shadow: rgb(0 0 0 / 10%) 0 3px 10px, rgb(0 0 0 / 5%) 0 3px 3px;

  &[data-visible="true"] {
    animation: enter 0.2s ease-out;
  }

  &[data-visible="false"] {
    animation: leave 0.15s ease-in forwards;
  }
}

button {
  cursor: pointer;

  margin-left: 1em;
  padding: 0;

  color: currentcolor;

  background-color: transparent;
  border: none;

  &:hover {
    color: #e5e7ebcc;
  }
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 2px;

  background-color: #41bcf4;
}

@keyframes enter {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes leave {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
