#comicRead{
  position: relative;
  z-index: 999999;

  text-align: left;
}

#comicShow{
  position: relative;
  top: 0;
  left: 0;

  padding-top: 1rem;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  background-color: white;
  [index]{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    margin: 0;

    img{
      display: inline-block;

      width: auto;
      height: 100%;

      vertical-align: middle;

      image-rendering: -webkit-optimize-contrast;
    }
    img.long{
      position: absolute;

      width: 100%;
      height: auto;
    }
    img.fill{
      visibility: hidden;
    }
  }
  [index="end"]{
    font-weight: bold;
    line-height: 60px;

    z-index: 3;

    height: 60px !important;
    margin: 0 !important;
    a{
      font-size: 20px;

      position: absolute;

      color: var(--color1);
    }
    a[title="退出"]{
      font-size: 40px;
    }
    a[title="上一话"]{
      left: 40vw;
    }
    a[title="下一话"]{
      right: 40vw;
    }
  }
}

#sidebar{
  position: fixed;
  z-index: 1;
  top: 50vh;
  left: -40px;

  transition: left .6s;
  transform: translate(0, -50%);

  &.show{
    left: 0;
  }

  &:not(.show) div::before,
  &:not(.show) div::after{
    content: none;
  }

  div{
    width: 30px;
    height: 30px;
    margin: 10px;

    cursor: pointer;

    border-radius: 15px;
    background-color: white;
    svg{
      position: relative;
      top: 3px;
      left: 3px;

      width: 24px;
      height: 24px;

      text-align: center;

      fill: #171717;
    }

    &[switch="true"]{
      background-color: #171717;
      svg{
        fill: white;
      }
    }

    &:nth-last-of-type(3),
    &:last-of-type{
      margin-top: 5vh;
    }
  }
}

#comicPage{
  position: fixed;
  top: 50%;
  right: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;

  max-height: 60vh;

  transform: translate(-50%, -50%);
  div{
    box-sizing: content-box;
    width: 12px;
    height: 12px;
    margin: 5px;

    cursor: pointer;

    border: 2px solid;
    border-color: #171717;
    border-radius: 25px;
  }
  div.now,
  div:hover{
    background-color: #171717;
  }
}

#magnifier{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 40vw;
  height: 40vh;

  background: white;
  box-shadow: grey 0 6px 24px 4px;

  div[index]{
    width: 200vw;
    height: 200vh;
  }

  #scope{
    position: fixed;

    width: 20vw;
    height: 20vh;

    border: 2px dashed darkgrey;
  }
}

#comicRead.night{
  #comicShow{
    background-color: #171717;
  }

  #comicPage{
    div{
      border-color: white;
    }
    div.now,
    div:hover{
      background-color: white;
    }
  }

  #sidebar{
    div{
      background-color: #171717;
      svg{
        fill: white;
      }

      &[switch="true"]{
        background-color: white;
        svg{
          fill: #171717;
        }
      }
    }
  }

  #magnifier{
    background: #171717;
  }

  [tooltip]:hover::after{
    color: black;
    background: #CCC;
    box-shadow: 0 1em 2em -.5em rgba(255, 255, 255, .35);
  }

  [tooltip][flow^="left"]:hover::before{
    border-left-color: #CCC;
  }

  [tooltip][flow^="right"]:hover::before{
    border-right-color: #CCC;
  }
}




/* 来自 https://webdesign.tutsplus.com/zh-hans/tutorials/css-tooltip-magic--cms-28082 的 CSS */
/* START TOOLTIP STYLES */
[tooltip]{
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]:hover::before,
[tooltip]:hover::after{
  font-size: .9em; /* opinion 3 */
  line-height: 1;

  position: absolute;

  display: block;

  user-select: none;
  text-transform: none; /* opinion 2 */
  pointer-events: none;
}
[tooltip]:hover::before{
  z-index: 1001; /* absurdity 1 */

  content: "";

  border: 5px solid transparent; /* opinion 4 */
}
[tooltip]:hover::after{
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;

  z-index: 1000; /* absurdity 2 */

  overflow: hidden;

/*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */

  min-width: 3em;
  max-width: 21em;
  padding: 1ch 1.5ch;

  content: attr(tooltip); /* magic! */
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: #FFF;
  border-radius: .3ch;
  background: #333;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, .35);
}

/* don"t show empty tooltips */
[tooltip=""]:hover::before,
[tooltip=""]:hover::after{
  display: none !important;
}

/* FLOW: LEFT */
[tooltip][flow^="left"]:hover::before{
  top: 50%;
  left: calc(~"0em - 5px");

  transform: translate(-.5em, -50%);

  border-right-width: 0;
  border-left-color: #333;
}
[tooltip][flow^="left"]:hover::after{
  top: 50%;
  right: calc(~"100% + 5px");

  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]:hover::before{
  top: 50%;
  right: calc(~"0em - 5px");

  transform: translate(.5em, -50%);

  border-right-color: #333;
  border-left-width: 0;
}
[tooltip][flow^="right"]:hover::after{
  top: 50%;
  left: calc(~"100% + 5px");

  transform: translate(.5em, -50%);
}
