<div id="ScriptMenu" :style="{top:top+'px',left:left+'px'}">
  <div class="SMtitle" draggable="true" @touchstart="dragMoveStart" @touchmove="dragMove" @dragstart="dragMoveStart" @drag="dragMove">
    <p>脚本设置</p>
    <a href="javascript:;" title="关闭" @click="saveUserSetting"></a>
  </div>
  <div class="SMtab tbn">
    <ul>
      <li @click="select" class="a"><a href="javascript:;">功能设置</a></li>
      <li @click="select"><a href="javascript:;">其他</a></li>
      <li @click="select"><a href="javascript:;">关于</a></li>
    </ul>
  </div>
  <div class="SMconifg">
    <template v-if="showWindow == '功能设置'">
      <div v-for="(value, key) in UserSetting" v-if="key != 'info'" :class="{disabled: !value.Enable}">
        <p @click="select(key)">[[key]][[value.Enable?"":"(禁用)"]]</p>
        <template v-if="value.Enable">
          <div v-for="(v, k) in value" v-if="k!='Enable'">
            <template v-if="typeof v == 'boolean'">
              <input class="pc" type="checkbox" v-model="UserSetting[key][k]" checked="">[[k]]
            </template>
            <template v-else>
              [[k]]：<input class="px" type="text" v-model.trim.lazy="UserSetting[key][k]">
            </template>
          </div>
        </template>
      </div>
    </template>
    <template v-else-if="showWindow == '其他'">
      <button class="pn pnc" @click="ResetUserSetting">
        <strong>恢复默认设置</strong>
      </button>
    </template>
    <template v-else-if="showWindow == '关于'">
      <p>
        <strong>当前版本号：[[UserSetting.info.scriptVersion]]</strong>
        <br>
        <br>
        <strong>Github地址——<a href="https://github.com/hymbz/YamiboScript">https://github.com/hymbz/YamiboScript</a></strong>
        <br>
        <strong>论坛发布贴地址——<a href="https://bbs.yamibo.com/thread-491966-1-1.html">https://bbs.yamibo.com/thread-491966-1-1.html</a></strong></strong>
      </p>
    </template>
  </div>
</div>

<div id="curtain"></div>

<div id="promptBox">
  <p></p>
</div>
