<div id="ScriptMenu" :style="{top:top+'px',left:left+'px'}" v-if="show">
  <div class="SMtitle" draggable="true" @touchstart="dragMoveStart" @touchmove="dragMove" @dragstart="dragMoveStart" @drag="dragMove">
    <p>脚本设置</p>
    <svg title="关闭" @click="saveUserSetting" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
  </div>
  <div class="SMtab">
    <ul>
      <li @click="showWindow = '功能设置'" :class="{a: showWindow == '功能设置'}">功能设置</li>
      <li @click="showWindow = '其他'" :class="{a: showWindow == '其他'}">其他</li>
      <li @click="showWindow = '关于'" :class="{a: showWindow == '关于'}">关于</li>
    </ul>
  </div>
  <div class="SMconifg">
    <template v-if="showWindow == '功能设置'">
      <div v-for="(value, key) in UserSetting" v-if="key != 'Version'" :class="{disabled: !value.Enable}">
        <p @click="UserSetting[key].Enable = !UserSetting[key].Enable;">[[value.Enable?key:key+"(禁用)"]]</p>
          <div v-for="(v, k) in value" v-if="value.Enable && k!=='Enable'">
            <template v-if="typeof v == 'boolean'">
              <input class="pc" type="checkbox" v-model="UserSetting[key][k]" checked="">[[k]]
            </template>
            <template v-else-if="k == '背景颜色'">
              <span>自定义背景颜色 </span>
              <input type="color" v-model="UserSetting['漫画阅读']['背景颜色']" />
              <input v-model="UserSetting['漫画阅读']['背景颜色']" />
            </template>
            <template v-else>
              [[k]]：<input class="px" type="text" v-model.trim.lazy="UserSetting[key][k]">
            </template>
          </div>
      </div>
    </template>
    <template v-else-if="showWindow == '其他'">
      <button @click="ResetUserSetting">
        <strong>恢复默认设置</strong>
      </button>
    </template>
    <template v-else-if="showWindow == '关于'">
      <p>
        <strong>当前版本号：[[UserSetting.Version]]</strong>
        <br>
        <br>
        <strong>Github地址——<a href="https://github.com/hymbz/ComicReadScript" target="_blank">https://github.com/hymbz/ComicReadScript</a></strong>
        <br>
        <strong>Greasy Fork地址——<a href="https://greasyfork.org/zh-CN/scripts/374903-comicread" target="_blank">https://greasyfork.org/zh-CN/scripts/374903-comicread</a></strong></strong>
      </p>
    </template>
  </div>
</div>
