@import "./components/ComicImg.module.css";
@import "./components/EndPage.module.css";
@import "./components/Toolbar.module.css";
@import "./components/Setting.module.css";
@import "./components/SettingHotkeys.module.css";
@import "./components/Scrollbar.module.css";
@import "./components/TouchArea.module.css";

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.root {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 100%;

  font-size: 1em;

  background-color: var(--bg);
  outline: 0;

  & a {
    color: var(--text-secondary);
  }

  &[data-mobile] {
    font-size: 0.8em;
  }
}

.beautifyScrollbar {
  /* 火狐的滚动条样式 */
  scrollbar-color: var(--scrollbar-slider) transparent;
  scrollbar-width: thin;

  /* chrome 的滚动条样式 */
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-slider);
  }
}

p,
img {
  margin: 0;
}

div,
div:focus,
div:focus-within,
div:focus-visible,
button {
  border: none;
  outline: none;
}

blockquote {
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
  padding-left: 1em;

  font-style: italic;
  line-height: 1.2em;
  color: var(--text-secondary);
  text-align: start;
  overflow-wrap: anywhere;
  white-space: pre-wrap;

  border-left: 0.25em solid var(--text-secondary, #607d8b);
}

svg {
  width: 1em;
}
