/* 测试时隐藏 touchArea */

/* .touchAreaRoot {
  display: none !important;
} */

.img {
  width: 100%;
  height: 100%;

  /* 临时测试暂时修改; */

  /* width: 7em !important;
  height: 7em !important; */

  object-fit: contain;
  background-color: var(--hover_bg_color);

  /* 隐藏因为 src 为空而出现图片加载错误的图 */
  &.wait,
  &.error {
    visibility: hidden;
  }
}

.mangaFlow {
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  color: var(--text);

  background-color: var(--bg);

  &.disableZoom .img {
    object-fit: scale-down;
  }

  &.scrollMode {
    /* 隐藏滚动条但不影响滚动 */
    scrollbar-width: none;

    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;

    /* 隐藏滚动条但不影响滚动 */
    &::-webkit-scrollbar {
      display: none;
    }

    & .img {
      max-width: 100%;
      height: auto;
    }
  }

  /* 根据漫画方向调换位置 */
  &[dir="ltr"] {
    flex-direction: row;
  }
}

/* 每张图的容器 */
.comicImg {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin: 0;

  &[data-fill="left"] {
    transform: translate(50%);
  }

  &[data-fill="right"] {
    transform: translate(-50%);
  }
}

.endPage {
  pointer-events: none;

  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: white;

  opacity: 0;
  background-color: #3339;

  transition: opacity 500ms;

  & > button {
    cursor: pointer;

    font-size: 1.2em;
    color: inherit;

    background-color: transparent;
    border: 0;

    &[data-is-end] {
      margin: 2em;

      font-size: 3em;
    }
  }

  &[data-show="true"] {
    pointer-events: all;

    opacity: 1;
  }
}
