.img {
  /* 临时测试暂时修改; */
  width: 2em !important;
  height: 2em !important;

  /* width: auto;
  height: 100%; */

  vertical-align: middle;

  /* 填充页 */
  &.fill {
    visibility: hidden;
  }

  /* 过宽的图片 */
  &.long {
    width: 100%;
    height: auto;
  }
}

.mangaFlow {
  user-select: none;

  height: 100%;

  background-color: var(--bg);

  &.disableZoom .img {
    height: unset;
    max-height: 100%;
  }
}

/* 翻页模式下的每页的容器 */
.mangaFlowPage {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin: 0;
}

.wrapper {
  /* swiper 必须要有一个包装 slide 的容器，为了 className 的风格统一在这放个空选择器 */
}
