/* 测试时隐藏 touchArea */

/* .touchAreaRoot {
  display: none !important;
} */

.img,
.touchAreaRoot {
  width: 7em !important;
  height: 7em !important;
}

.img {
  display: none;

  max-width: 100%;
  height: 100%;

  object-fit: contain;

  &[data-show] {
    display: unset;
  }

  /* 隐藏因为 src 为空而出现的图片加载错误的图 */
  &[data-load-type="error"],
  &[data-load-type="wait"] {
    visibility: hidden;
  }

  &[data-fill="left"] {
    transform: translate(50%);
  }

  &[data-fill="right"] {
    transform: translate(-50%);
  }
}

.mangaFlow {
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  color: var(--text);

  background-color: var(--bg);

  &.disableZoom .img {
    height: unset;
    max-height: 100%;

    object-fit: scale-down;
  }

  &.scrollMode {
    /* 隐藏滚动条但不影响滚动 */
    scrollbar-width: none;

    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;

    /* 隐藏滚动条但不影响滚动 */
    &::-webkit-scrollbar {
      display: none;
    }

    & .img {
      max-width: 100%;
      height: auto;
    }
  }

  /* 根据漫画方向调换位置 */
  &[dir="ltr"] {
    flex-direction: row;
  }
}

.endPage {
  pointer-events: none;

  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: white;

  opacity: 0;
  background-color: #3339;

  transition: opacity 500ms;

  & > button {
    cursor: pointer;

    font-size: 1.2em;
    color: inherit;

    background-color: transparent;
    border: 0;

    &[data-is-end] {
      margin: 2em;

      font-size: 3em;
    }

    &:focus-visible {
      outline: none;
    }
  }

  & > .tip {
    position: absolute;

    margin: auto;
  }

  &[data-show] {
    pointer-events: all;

    opacity: 1;
  }

  &[data-show="start"] > .tip {
    top: 10%;
  }

  &[data-show="end"] > .tip {
    bottom: 10%;
  }
}
