/* 设置面板所在的悬浮框样式 */
.SettingPanelPopper {
  height: 0;
  padding: 0;
}

.SettingPanel {
  /* 向上移动三分之二 */
  transform: translateY(-66.66%);

  width: 15em;
  margin: auto;

  font-size: 1.2em;
  color: var(--buttonColor);

  background-color: #353535;
  border-radius: 0.3em;
}

.SettingBlock {
  padding: 0.5em;
}

.SettingBlockSubtitle {
  margin-bottom: 1em;

  font-size: 0.7em;
  color: #d1d5db;
}

.SettingsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1em;
}

.SettingsItemName {
  font-size: 0.9em;
}

/* 开关式设置项 */
.SettingsItemSwitch {
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  width: 2.3em;
  height: 0.8em;
  margin-right: 0.3em;
  padding: 0;

  background-color: #9b9b9b;
  border: 0;
  border-radius: 1em;
}

/* 开关里的圆形按钮 */
.SettingsItemSwitchRound {
  width: 1.15em;
  height: 1.15em;

  background: #fff;
  border-radius: 100%;

  transition: transform 100ms;
}

/* 图标按钮式设置项 */
.SettingsItemIconButton {
  cursor: pointer;

  position: absolute;
  right: 0.7em;

  height: 1em;
  margin: 0;
  padding: 0;

  font-size: 1.7em;
  color: var(--buttonColor);

  background-color: transparent;
  border: none;
}

/* 关闭设置弹窗的遮罩 */
.closeCover {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
