.touchAreaRoot {
  user-select: none;

  position: absolute;
  top: 0;

  display: flex;

  width: 100%;
  height: 100%;

  font-size: 3em;
  color: #0000;
}

.touchArea {
  z-index: 1;

  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  writing-mode: vertical-rl;

  outline: none;
}

.touchArea[data-area="menu"] {
  flex-basis: 0;
}

/* 显示点击区域时 */
.touchAreaRoot[data-show="true"] {
  & .touchArea {
    color: white;
  }

  & .touchArea[data-area="prev"] {
    background-color: #95e1d3e6;
  }

  & .touchArea[data-area="menu"] {
    background-color: #fce38ae6;
  }

  & .touchArea[data-area="next"] {
    background-color: #f38181e6;
  }
}
