.img img {
  display: block;
  width: 100%;
  height: 100%;
}

.img {
  content-visibility: hidden;

  position: relative;

  display: none;
  align-content: center;

  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

  &[data-show] {
    content-visibility: visible;
    display: block;
  }

  & > picture {
    position: relative;

    display: block;

    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin-right: inherit;
    margin-left: inherit;

    background-color: var(--hover-bg-color, #fff3);
    background-image: var(--md-photo);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
  }

  /* 遮住默认的出错图片标识 */
  &[data-load-type="error"] > picture::after {
    pointer-events: none;
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: #eee;
    background-image: var(--md-image-not-supported);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
  }

  &[data-load-type="loading"] > picture {
    background-image: var(--md-cloud-download);

    /* 加载中的图片先隐藏一下，避免出错图片的元素被直接显示出来 */
    img {
      animation: show 1s forwards;
    }
  }
}

.mangaFlow[dir="ltr"] .img[data-show="1"],
.mangaFlow[dir="rtl"] .img[data-show="0"] {
  margin-right: auto;
  margin-left: 0;
}

.mangaFlow[dir="ltr"] .img[data-show="0"],
.mangaFlow[dir="rtl"] .img[data-show="1"] {
  margin-right: 0;
  margin-left: auto;
}

.mangaFlow {
  touch-action: none;
  user-select: none;

  transform-origin: 0 0;

  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  grid-auto-rows: 100%;
  grid-row-gap: 0;
  place-items: center;

  width: 100%;
  height: 100%;

  color: var(--text);

  backface-visibility: hidden;

  &[data-disable-zoom] .img > picture {
    width: fit-content;
    height: fit-content;
  }

  &[data-hidden-mouse="true"] {
    cursor: none;
  }

  &[data-vertical] {
    grid-auto-flow: row;
  }
}

.mangaBox {
  transform-origin: 0 0;

  contain: layout style;

  width: 100%;
  height: 100%;

  transition-duration: 0ms;

  &[data-animation="page"] .mangaFlow,
  &[data-animation="zoom"] {
    transition-duration: 300ms;
  }
}

.root:not([data-grid-mode]) .mangaBox {
  /* 隐藏滚动条但不影响滚动 */
  scrollbar-width: none;

  /* 隐藏滚动条但不影响滚动 */
  &::-webkit-scrollbar {
    display: none;
  }
}

.root[data-grid-mode] .mangaFlow {
  overflow: auto;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-row-gap: 1.5em;
  grid-template-rows: unset;
  align-items: end;

  box-sizing: border-box;

  .img {
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;

    & > .gridModeTip {
      cursor: auto;

      position: absolute;
      bottom: -1.5em;

      direction: ltr;
      overflow: hidden;

      width: 100%;

      line-height: 1.5em;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;

      opacity: 0.5;
    }

    &[data-load-type="error"],
    &[data-load-type="wait"],
    &[src=""] {
      height: 100%;
    }
  }
}

.root[data-scroll-mode]:not([data-grid-mode]) .mangaBox {
  overflow: auto;

  .mangaFlow {
    grid-row-gap: calc(var(--scroll-mode-spacing) * 7px);
    height: fit-content;
  }

  &[data-abreast-scroll] {
    overflow: hidden;

    .mangaFlow {
      grid-column-gap: calc(var(--scroll-mode-spacing) * 7px);
      align-items: start;
      height: 100%;

      .img {
        will-change: transform;
        width: 100%;
        height: auto;
      }
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
