.img {
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  object-fit: contain;
  background-color: var(--hover_bg_color, #fff3);

  &[data-fill="left"] {
    transform: translate(50%);
  }

  &[data-fill="right"] {
    transform: translate(-50%);
  }

  &[data-fill="page"] {
    display: none;
  }

  &[data-type="long"] {
    width: 100%;
    height: auto;
  }

  &[data-load-type="loading"] {
    position: absolute;
    max-width: 100vw !important;

    /* 加载中的图片稍等一下再显示，避免出错图片的元素被直接显示出来 */
    opacity: 0;
    animation: show 2s forwards;
  }

  &[data-load-type="error"],
  &[data-load-type="wait"],
  &[src=""] {
    position: relative;
    aspect-ratio: 3 / 4;
    height: 100% !important;
  }

  /* 隐藏火狐的出错图片标识 */
  :is(&[data-load-type="error"], &[src=""])::before {
    opacity: 0;
  }

  /* 遮住默认的出错图片标识 */
  :is(&[data-load-type], &[src=""])::after {
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: var(--bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
  }

  :is(&[data-load-type="loading"], &[data-load-type="wait"])::after {
    content: "";
    background-image: var(--MdCloudDownload);
  }

  &[src=""]::after {
    content: "";
    background-image: var(--MdPhoto);
  }

  &[data-load-type="error"]::after {
    content: "";
    background-image: var(--MdImageNotSupported);
  }
}

.page {
  content-visibility: hidden;

  position: relative;
  z-index: 1;
  transform: translate(var(--page-x), var(--page-y)) translateZ(0);

  display: none;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition-duration: 0ms;

  &[data-show] {
    content-visibility: visible;
    display: flex;
  }
}

.mangaFlow {
  touch-action: none;
  user-select: none;

  transform-origin: 0 0;
  transform: translate(var(--zoom-x), var(--zoom-y)) scale(var(--scale))
    translateZ(0);

  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  grid-auto-rows: 100%;
  grid-row-gap: 0;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  width: 100%;
  height: 100%;

  color: var(--text);

  backface-visibility: hidden;
  outline: none;

  transition-duration: 0ms;

  &:not([data-grid-mode]) {
    /* 隐藏滚动条但不影响滚动 */
    scrollbar-width: none;

    /* 隐藏滚动条但不影响滚动 */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &[data-disable-zoom] .img {
    height: unset;
    max-height: 100%;
    object-fit: scale-down;
  }

  /* 根据漫画方向调换位置 */
  &[dir="ltr"] .page {
    flex-direction: row;
  }

  &[data-hidden-mouse="true"] {
    cursor: none;
  }

  &[data-animation="page"] .page {
    transition-duration: 300ms;
  }

  &[data-animation="zoom"] {
    transition-duration: 300ms;
  }

  &[data-vertical] {
    grid-auto-flow: row;
  }
}

.mangaFlow[data-scroll-mode] {
  touch-action: auto;

  overflow: auto;
  grid-auto-flow: row;
  grid-auto-rows: auto;

  /* 卷轴模式下的图片间距 */
  grid-row-gap: calc(var(--scrollModeSpacing) * 0.1em);
  grid-template-rows: auto;

  & .page {
    transform: none;
    display: flex;
    width: unset;
    height: fit-content;
  }

  & .img {
    display: unset;

    width: calc(var(--scrollModeImgScale) * var(--width, 100%));
    max-width: unset;
    height: auto;
    max-height: unset;

    object-fit: contain;

    /* 让未显示的图片提前占下位 */
    &[data-load-type="wait"] {
      height: var(--img-placeholder-height);
    }

    &[data-load-type="loading"] {
      position: unset;
    }

    &[data-load-type="error"] {
      width: 30em;
      height: 20em;
    }
  }
}

.mangaFlow[data-grid-mode] {
  touch-action: auto;

  transform: none;

  overflow: auto;
  grid-auto-flow: row;
  grid-auto-rows: calc(100% / 3);
  grid-row-gap: 1.5em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: unset;

  box-sizing: border-box;
  padding-bottom: 2em;

  & .page {
    transform: none;
    height: auto;

    &::after {
      content: var(--tip);

      position: absolute;
      bottom: -1.4em;
      left: 0;
      transform: scale(0.8);

      direction: ltr;

      width: 100%;

      text-align: center;
      white-space: pre;

      opacity: 0.5;
    }

    & .img {
      cursor: pointer;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
