.scrollbar {
  touch-action: none;
  user-select: none;

  position: absolute;
  z-index: 9;
  top: 1%;
  right: 3px;

  display: flex;
  flex-direction: column;

  width: 5px;
  height: 98%;

  opacity: 0;

  /* 扩大触发范围 */
  border-left: max(6vw, 1em) solid transparent;
  outline: none;

  transition: opacity 150ms;

  & > div {
    pointer-events: none;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  &:hover,
  &[data-show="true"] {
    opacity: 1;
  }
}

.scrollbarDrag {
  position: absolute;
  z-index: 1;
  top: var(--top);

  justify-content: center;

  width: 100%;
  height: var(--height);

  background-color: var(--scrollbar-drag);
  border-radius: 1em;
}

.scrollbarPage {
  transform-origin: bottom;
  transform: scaleY(1);

  flex-grow: 1;

  width: 100%;
  height: 100%;

  background-color: var(--secondary);

  transition: transform 1s;

  &[data-type="loaded"] {
    transform: scaleY(0);
  }

  &[data-type="wait"] {
    opacity: 0.5;
  }

  &[data-type="error"] {
    background-color: #f005;
  }

  &[data-null] {
    background-color: #fbc02d;
  }

  &[data-translation-type] {
    transform-origin: top;
    transform: scaleY(1);
    background-color: transparent;
  }

  &[data-translation-type="wait"] {
    background-color: #81c784;
  }

  &[data-translation-type="show"] {
    background-color: #4caf50;
  }

  &[data-translation-type="error"] {
    background-color: #f005;
  }
}

.scrollbarPoper {
  position: absolute;
  right: 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 0.2em 0.5em;

  font-size: 0.8em;
  line-height: 1.5em;
  color: white;
  text-align: center;
  white-space: pre;

  opacity: 0;
  background-color: #303030;
  border-radius: 0.3em;

  transition: opacity 150ms;

  &[data-show="true"] {
    opacity: 1;
  }
}

/* 悬浮框箭头 */
.scrollbarPoper::after {
  content: "";

  position: absolute;
  left: 100%;

  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 0.4em;
  border-left: 0.5em solid #303030;
}

/* 控制滚动条悬浮提示的显示 */
.scrollbar:hover .scrollbarPoper {
  opacity: 1;
}

.scrollbar[data-position="hidden"] {
  display: none;
}

.scrollbar[data-position="top"],
.scrollbar[data-position="bottom"] {
  top: unset;
  right: 1%;

  flex-direction: row-reverse;

  width: 98%;
  height: 5px;

  border-left: none;

  & .scrollbarDrag {
    top: unset;
    right: var(--top);
    width: var(--height);
    height: 100%;
  }

  &[data-dir="ltr"] {
    flex-direction: row;

    & .scrollbarDrag {
      right: unset;
      left: var(--top);
    }
  }

  .scrollbarPoper {
    right: unset;
    padding: 0.1em 0.3em;

    &::after {
      left: unset;
      border: 0.3em solid #0000;
    }
  }

  /* 将 scaleY 改成 scaleX */
  & .scrollbarPage {
    transform: scaleX(1);

    &[data-type="loaded"] {
      transform: scaleX(0);
    }

    &[data-translation-type] {
      transform: scaleX(1);
    }
  }
}

.scrollbar[data-position="top"] {
  top: 1px;

  /* 扩大触发范围 */
  border-bottom: max(6vh, 1em) solid transparent;

  .scrollbarPoper {
    top: 1.2em;

    &::after {
      bottom: 100%;
      border-bottom: 0.4em solid #303030;
    }
  }
}

.scrollbar[data-position="bottom"] {
  bottom: 1px;

  /* 扩大触发范围 */
  border-top: max(6vh, 1em) solid transparent;

  .scrollbarPoper {
    bottom: 1.2em;

    &::after {
      top: 100%;
      border-top: 0.4em solid #303030;
    }
  }
}

.root[data-mobile] {
  /* 移动端下禁用悬浮显示 */
  .scrollbar:hover .scrollbarPoper {
    opacity: 0;
  }
}
