.scrollbar {
  --arrow-y: clamp(
    0.45em,
    calc(var(--slider-midpoint)),
    calc(var(--scroll-length) - 0.45em)
  );

  touch-action: none;
  user-select: none;

  position: absolute;
  z-index: 9;
  top: 1%;
  right: 3px;

  display: flex;
  flex-direction: column;

  width: 5px;
  height: 98%;

  /* 扩大触发范围 */
  border-left: max(6vw, 1em) solid transparent;

  & > div {
    pointer-events: none;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}

.scrollbarPage {
  transform-origin: bottom;
  transform: scaleY(1);

  flex-grow: 1;

  width: 100%;
  height: 100%;

  background-color: var(--secondary);

  transition: transform 1s;

  &[data-type="loaded"] {
    transform: scaleY(0);
  }

  &[data-type="wait"] {
    opacity: 0.5;
  }

  &[data-null] {
    background-color: #fbc02d;
  }

  &[data-translation-type] {
    transform-origin: top;
    transform: scaleY(1);
    background-color: transparent;
  }

  &[data-translation-type="wait"] {
    background-color: #81c784;
  }

  &[data-translation-type="show"] {
    background-color: #4caf50;
  }

  &[data-translation-type="error"] {
    background-color: #f005;
  }

  &[data-type="error"] {
    background-color: #f005;
  }
}

/* 滚动条滑块 */
.scrollbarSlider {
  position: absolute;
  z-index: 1;
  transform: translateY(var(--slider-top));

  justify-content: center;

  width: 100%;
  height: var(--slider-height);
  border-radius: 1em;

  opacity: 1;
  background-color: #fff5;

  transition:
    transform 150ms,
    opacity 150ms;
}

/* 悬浮框 */
.scrollbarPoper {
  --poper-top: clamp(
    0%,
    calc(var(--slider-midpoint) - 50%),
    calc(var(--scroll-length) - 100%)
  );

  position: absolute;
  right: 2em;
  transform: translateY(var(--poper-top));

  width: fit-content;
  min-width: 1em;
  min-height: 1.5em;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;

  font-size: 0.8em;
  line-height: 1.5em;
  color: white;
  text-align: center;
  white-space: pre;

  background-color: #303030;
}

/* 悬浮框箭头 */
.scrollbar::before {
  content: "";

  position: absolute;
  right: 2em;
  transform: translate(140%, calc(var(--arrow-y) - 50%));

  border: 0.4em solid transparent;
  border-left: 0.5em solid #303030;

  background-color: transparent;
}

/*
 * 滚动条部件的显隐
 */

/* 悬浮提示默认隐藏 */
.scrollbar::before,
.scrollbarPoper {
  opacity: 0;
  transition:
    opacity 150ms,
    transform 150ms;
}

/* 控制滚动条悬浮提示的显示 */
.scrollbar:hover,
.scrollbar[data-force-show] {
  & .scrollbarPoper,
  & .scrollbarSlider,
  &::before {
    opacity: 1;
  }
}

/* 拖动滚动条时取消移动过渡动画，确保跟手 */
.scrollbar[data-drag] {
  &::before,
  .scrollbarPoper,
  .scrollbarSlider {
    transition: opacity 150ms;
  }
}

/* 实现自动隐藏 */
.scrollbar[data-auto-hidden]:not([data-force-show]) {
  & .scrollbarSlider {
    opacity: 0;
  }

  &:hover .scrollbarSlider {
    opacity: 1;
  }
}

/*
 * 滚动条位置
 */

.scrollbar[data-position="hidden"] {
  display: none;
}

.scrollbar[data-position="top"] {
  top: 1px;

  /* 扩大触发范围 */
  border-bottom: max(6vh, 1em) solid transparent;

  &::before {
    top: 1.2em;
    right: 0;
    transform: translate(var(--arrow-x), -120%);
    border-bottom: 0.5em solid #303030;
  }

  & .scrollbarPoper {
    top: 1.2em;
  }
}

.scrollbar[data-position="bottom"] {
  top: unset;
  bottom: 1px;

  /* 扩大触发范围 */
  border-top: max(6vh, 1em) solid transparent;

  &::before {
    right: 0;
    bottom: 1.2em;
    transform: translate(var(--arrow-x), 120%);
    border-top: 0.5em solid #303030;
  }

  & .scrollbarPoper {
    bottom: 1.2em;
  }
}

.scrollbar[data-position="top"],
.scrollbar[data-position="bottom"] {
  --arrow-x: calc(var(--arrow-y) * -1 + 50%);

  right: 1%;

  flex-direction: row-reverse;

  width: 98%;
  height: 5px;
  border-left: none;

  &::before {
    border-left: 0.4em solid transparent;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  & .scrollbarSlider {
    transform: translateX(calc(var(--slider-top) * -1));
    width: var(--slider-height);
    height: 100%;
  }

  & .scrollbarPoper {
    right: unset;
    transform: translateX(calc(var(--poper-top) * -1));
    padding: 0.1em 0.3em;
  }

  &[data-dir="ltr"] {
    --arrow-x: calc(var(--arrow-y) - 50%);

    flex-direction: row;

    &::before {
      right: unset;
      left: 0;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    & .scrollbarSlider {
      transform: translateX(var(--top));
    }

    & .scrollbarPoper {
      transform: translateX(var(--poper-top));
    }
  }

  /* 将 scaleY 改成 scaleX */
  & .scrollbarPage {
    transform: scaleX(1);

    &[data-type="loaded"] {
      transform: scaleX(0);
    }

    &[data-translation-type] {
      transform: scaleX(1);
    }
  }
}

.scrollbar[data-is-abreast-mode] {
  /* stylelint-disable-next-line no-descending-specificity */
  & .scrollbarPoper {
    writing-mode: vertical-rl;
    line-height: 1.5em;
    text-orientation: upright;
  }

  &[data-dir="ltr"] .scrollbarPoper {
    writing-mode: vertical-lr;
  }
}

/* 卷轴模式下取消滚动条的位移动画 */
.root[data-scroll-mode] .scrollbar::before,
.root[data-scroll-mode] :is(.scrollbarSlider, .scrollbarPoper) {
  transition: opacity 150ms;
}

/* 移动端下禁用悬浮显示 */
.root[data-mobile] {
  & .scrollbar:hover {
    &::before,
    & .scrollbarPoper {
      opacity: 0;
    }
  }
}
