/* 设置面板所在的悬浮框样式 */
.SettingPanelPopper {
  transform: none !important;
  height: 0 !important;
  padding: 0 !important;
}

.SettingPanel {
  user-select: text;

  position: fixed;
  top: 0;
  bottom: 0;

  overflow: auto;

  width: 15em;
  height: fit-content;
  max-height: 95vh;
  margin: auto;

  font-size: 1.2em;
  color: var(--text);

  background-color: var(--page_bg);
  border-radius: 0.3em;
  box-shadow:
    rgb(0 0 0 / 20%) 0 3px 1px -2px,
    rgb(0 0 0 / 14%) 0 2px 2px 0,
    rgb(0 0 0 / 12%) 0 1px 5px 0;

  & hr {
    margin: 0;
  }
}

.SettingBlock {
  display: grid;
  grid-template-rows: max-content 1fr;

  padding: 0 0.5em;
  padding-bottom: 1em;

  transition: grid-template-rows 200ms ease-out;

  & .SettingBlockBody {
    overflow: hidden;

    & > div + & > div {
      margin-top: 1em;
    }
  }

  &[data-show="false"] {
    grid-template-rows: max-content 0fr;
    padding-bottom: unset;
  }
}

.SettingBlockSubtitle {
  cursor: pointer;

  position: sticky;
  z-index: 1;
  top: 0;

  height: 3em;
  margin-bottom: 0.1em;

  font-size: 0.7em;
  line-height: 3em;
  color: var(--text_secondary);
  text-align: center;

  background-color: var(--page_bg);
}

.SettingsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & + & {
    margin-top: 1em;
  }
}

.SettingsItemName {
  font-size: 0.9em;
}

/* 开关式设置项 */
.SettingsItemSwitch {
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  width: 2.3em;
  height: 0.8em;
  margin: 0.3em;
  padding: 0;

  background-color: var(--switch_bg);
  border: 0;
  border-radius: 1em;
}

/* 开关里的圆形按钮 */
.SettingsItemSwitchRound {
  transform: translateX(-10%);

  width: 1.15em;
  height: 1.15em;

  background: var(--switch);
  border-radius: 100%;
  box-shadow:
    0 2px 1px -1px rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);

  transition: transform 100ms;
}

.SettingsItemSwitch[data-checked="true"] {
  background: var(--secondary_bg);

  & .SettingsItemSwitchRound {
    transform: translateX(110%);
    background: var(--secondary);
  }
}

/* 图标按钮式设置项 */
.SettingsItemIconButton {
  cursor: pointer;

  height: 1em;
  margin: 0;
  margin-right: 0.2em;
  padding: 0;

  font-size: 1.7em;
  color: var(--text);

  background-color: transparent;
  border: none;
}

/* 选择器设置项 */
.SettingsItemSelect {
  cursor: pointer;

  width: 6em;
  margin: 0;
  padding-right: 0;

  font-size: 1em;

  border-radius: 5px;
}

/* 关闭设置弹窗的遮罩 */
.closeCover {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.SettingsShowItem {
  display: grid;
  transition: grid-template-rows 200ms ease-out;

  & > .SettingsShowItemBody {
    overflow: hidden;

    & > .SettingsItem {
      margin-top: 1em;
    }
  }
}

.hotKeys {
  position: relative;
  z-index: 1;

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;

  padding: 0.2em;
  padding-top: 2em;

  font-size: 0.9em;
  color: var(--text);

  border-bottom: 1px solid var(--secondary_bg);

  & + & {
    margin-top: 0.5em;
  }

  &:last-child {
    border-bottom: none;
  }
}

.hotKeysItem {
  cursor: pointer;

  display: flex;
  align-items: center;

  height: 1em;
  margin: 0.3em;
  padding: 0.2em 1.2em;

  background-color: var(--hover_bg_color);
  border-radius: 1em;
  outline: solid 1px;
  outline-color: var(--secondary_bg);

  & > svg {
    display: none;

    height: 1em;
    margin-left: 0.4em;

    color: var(--page_bg);

    opacity: 0.5;
    background-color: var(--text);
    border-radius: 1em;

    &:hover {
      opacity: 0.9;
    }
  }

  &:hover {
    padding: 0.2em 0.5em;

    & > svg {
      display: unset;
    }
  }

  &:focus,
  &:focus-visible {
    outline: var(--text) solid 2px;
  }
}

.hotKeysHeader {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  padding: 0 0.5em;

  & > p {
    margin: 0;
    background-color: var(--page_bg);
  }

  & > div[title] {
    cursor: pointer;
    transform: scale(0);
    background-color: var(--page_bg);
    transition: transform 100ms;

    & > svg {
      width: 1.6em;
    }
  }
}

.hotKeys:hover div[title] {
  transform: scale(1);
}
