.toolbar {
  position: fixed;
  z-index: 9;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 5vw;
  height: 100%;
}

/* 工具栏面板 */
.toolbarPanel {
  transform: translateX(-100%);

  overflow: hidden;
  display: flex;
  flex-direction: column;

  padding: 0.5em;

  backdrop-filter: blur(3px);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;

  transition: transform 200ms;
}

.toolbar[data-show="true"] {
  & .toolbarPanel {
    transform: none;
  }
}
