.touchAreaRoot {
  pointer-events: none;
  user-select: none;

  position: absolute;
  top: 0;

  display: flex;

  width: 100%;
  height: 100%;

  font-size: 3em;
  color: white;

  visibility: hidden;

  &[data-vert="true"] {
    flex-direction: column !important;
  }
}

@media (width <= 600px) {
  .touchAreaRoot {
    flex-direction: column !important;
  }
}

.touchArea {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  outline: none;

  & > h6 {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
}

.touchArea[data-area="menu"] {
  flex-basis: 4em;
  flex-grow: 0;
}

/* 显示点击区域时 */
.touchAreaRoot[data-show="true"] {
  visibility: visible;

  & .touchArea[data-area="prev"] {
    background-color: #95e1d3e6;
  }

  & .touchArea[data-area="menu"] {
    background-color: #fce38ae6;
  }

  & .touchArea[data-area="next"] {
    background-color: #f38181e6;
  }
}

.touchAreaRoot[data-scroll-mode="true"] {
  & .touchArea[data-area="prev"],
  & .touchArea[data-area="next"] {
    visibility: hidden;
  }
}
