.touchAreaRoot {
  pointer-events: none;
  user-select: none;

  position: absolute;
  top: 0;

  display: grid;
  grid-template-columns: 1fr min(40%, 10em) 1fr;
  grid-template-rows: 1fr min(30%, 10em) 1fr;

  width: 100%;
  height: 100%;

  font-size: 3em;
  color: white;
  letter-spacing: 0.5em;

  visibility: hidden;

  &[data-vert="true"] {
    flex-direction: column !important;
  }
}

/* 显示点击区域时 */
.touchAreaRoot[data-show="true"] {
  visibility: visible;

  & .touchArea {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &[data-area="prev"],
    &[data-area="PREV"] {
      background-color: #95e1d3e6;
    }

    &[data-area="menu"],
    &[data-area="MENU"] {
      background-color: #fce38ae6;
    }

    &[data-area="next"],
    &[data-area="NEXT"] {
      background-color: #f38181e6;
    }

    &[data-area="PREV"]::after {
      content: var(--i18n-touch-area-prev);
    }

    &[data-area="MENU"]::after {
      content: var(--i18n-touch-area-menu);
    }

    &[data-area="NEXT"]::after {
      content: var(--i18n-touch-area-next);
    }
  }
}

.touchAreaRoot:not([data-turn-page]) {
  & .touchArea[data-area="next"],
  & .touchArea[data-area="NEXT"],
  & .touchArea[data-area="prev"],
  & .touchArea[data-area="PREV"] {
    visibility: hidden;
  }
}

.touchAreaRoot[data-area="edge"] {
  grid-template-columns: 1fr min(30%, 10em) 1fr;
}

.root[data-mobile] {
  & .touchAreaRoot {
    flex-direction: column !important;
    letter-spacing: 0;
  }

  & [data-area]::after {
    font-size: 0.8em;
  }
}
